<main>
  <div>
    <h1>ngx-dcl</h1>
    <p>
      Native Angular directives for Component injection
      <a href="https://github.com/jdelgadoalfonso/dcl-component">
        View on GitHub
      </a>
    </p>
  </div>
</main>

<div>
  <app-dcl-section></app-dcl-section>
</div>

<footer class="footer">
  <div class="container">
    <p class="text-muted text-center">
      <a href="https://github.com/jdelgadoalfonso/dcl-component">ngx-dcl</a>
      is maintained by
      <a href="https://github.com/jdelgadoalfonso">jose.delgado@galgus.net</a>.
    </p>
  </div>
</footer>
